* {
  font-size: 100%;
  font-family: "IBM Plex Mono", monospace;
  margin: 0rem 0rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  background-color: whitesmoke;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 1rem;
}

h3 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  margin: 1rem 0;
}

main {
  display: flex;
  margin: 0 2rem;
}

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-right: 1rem;
  padding: 1rem;
}

form > textarea {
  height: 10rem;
  resize: none;
  margin: 0 0;
}

label {
  margin: 0.5rem 0;
}

input {
  margin-bottom: 1rem;
  height: 2rem;
  width: 25rem;
  padding: 0.25rem;
  border: solid 1px black;
}

#post-body {
  padding: 0.25rem;
  margin-bottom: 1.5rem;
  border: solid 1px black;
}

#blog-list {
  border: 1px solid black;
  padding: 1rem 2rem;
}

button {
  height: 2.5rem;
  cursor: pointer;
  margin: 0;
  border: solid 1px black;
}

hr {
  margin: 2rem 0;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: whitesmoke;
  margin-top: 2rem;
}

footer a {
  padding: 1rem 1rem;
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}

hr:last-child {
  display: none;
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section#blog-list {
    margin: 1rem 0rem;
  }

  form#new-post {
    align-items: center;
    border: 1px solid black;
    width: 100%;
    margin: 1rem 0rem;
    padding: 2rem 0rem;
  }

  input#post-title {
    width: 90%;
  }
  textarea#post-body {
    width: 90%;
    margin-bottom: 2rem;
  }
  button {
    width: 25%;
  }
}
