* {
  font-size: 100%;
  font-family: "IBM Plex Mono", monospace;
  margin: 1rem 0.5rem;
}

nav {
  height: 5rem;
  border: 1px solid black;
  background-color: whitesmoke;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  margin: 1rem 0;
}

section {
  border: solid 1px black;
  padding: 0.5rem;
}
